@charset "utf-8";
$menuText: #303133;
$menuActiveText: #d85f6a;
$subMenuActiveText: #d85f6a;

// $menuBg: #0a0b1b;
$menuBg: #f4f5f8;
$menuHover: #fbeff0;

$subMenuBg: #f4f5f8;
$subMenuHover: #fbeff0;

$sideBarWidth: 258px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
