@font-face {
  font-family: "iconfont"; /* Project id 4470813 */
  src: url('//at.alicdn.com/t/c/font_4470813_mp4hoahqqi.woff2?t=1711011983580') format('woff2'),
       url('//at.alicdn.com/t/c/font_4470813_mp4hoahqqi.woff?t=1711011983580') format('woff'),
       url('//at.alicdn.com/t/c/font_4470813_mp4hoahqqi.ttf?t=1711011983580') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangkeshenpi:before {
  content: "\e702";
}

.icon-daishouli:before {
  content: "\e7c2";
}

.icon-lk_diancan:before {
  content: "\e601";
}

.icon-shishishipin:before {
  content: "\e609";
}

.icon-cheliangguanli:before {
  content: "\e608";
}

.icon-shebeiweixiujilu:before {
  content: "\e74a";
}

.icon-huiyi:before {
  content: "\e60a";
}

.icon-fangkedengji:before {
  content: "\e610";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-xia:before {
  content: "\e63c";
}

.icon-password:before {
  content: "\e663";
}

.icon-username:before {
  content: "\e600";
}
